.DS_Store
outputs/
secrets/
__pycache__/
*.pyc
local_test_output/
*.json
deploy.sh
deploy.ps1
data/
.env
email.html
prueba.ipynb
test_payload.ipynb
mock_payloads.txt
docker-compose.local-test.yml
test_payload_local.py