fastapi
health
sendgrid>=6.11.0
uvicorn
python-pptx
matplotlib
Pillow
numpy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
requests
paramiko
PyMySQL
redis>=4.6.0
rq>=1.15.o1
rq-dashboard>=0.6.0
